html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);

  position: absolute;
  top: 60px;
}

.polaroid:first-child {
  transform: rotate(-11deg);
  position: absolute;
  top: 50px;
  left: 210px;
}

.polaroid:nth-child(2) {
  transform: rotate(4deg);
  position: absolute;
  top: 100px;
  left: 300px;
  z-index: 1;
}

.polaroid:last-child {
  transform: rotate(25deg);
  position: absolute;
  top: 45px;
  left: 410px;
}

.polaroid:hover {
  z-index: 10;
  transform: rotate(0);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
